<div class="jumbotron jumbotron-fluid blue-jumbotron">
    <div class="container">
        <h1 class="display-4">Welcome to Slow Spokes Erie</h1>
        <p class="lead">Join our community of slow bicycle riders in Erie, PA.</p>
    </div>
</div>